<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register | ___!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}" />
</head>

<body>
    <div class="container-fluid">
        <div class="row reg-page-banner" id="banner">
            <div class="title col-lg-12">
                <p class="title">
                    <a href="./">___!</a>
                </p>
                <p class="subtitle">...the simple social platform</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row pad">
            <div class="col-lg-4 col-lg-offset-4 pad">
                <h2 class="text-center bold">Join us! now.</h2>

                <br />
                <form action="/register" method="POST" enctype="multipart/form-data">
                    {{ form.csrf_token }}

                    <div class="form-group">
                        {{ form.name(class="form-control" ,placeholder="Enter your full name" ) }}
                        <!-- catching error messages -->
                        {% for error in form.name.errors %}
                        <ul>
                            <li style="color: red;">
                                {{error}}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.username(class="form-control" ,placeholder="Enter a username" ) }}
                        <!-- catching error messages -->
                        {% for error in form.username.errors %}
                        <ul>
                            <li style="color: red;">
                                {{error}}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.password(class="form-control" ,placeholder="Enter your password" ) }}
                        <!-- catching error messages -->
                        {% for error in form.password.errors %}
                        <ul>
                            <li style="color: red;">
                                {{error}}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password(class="form-control" ,placeholder="Confirm password" ) }}
                        <!-- catching error messages -->
                        {% for error in form.confirm_password.errors %}
                        <ul>
                            <li style="color: red;">
                                {{error}}
                            </li>
                        </ul>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        {{ form.image(class="form-control-file") }}
                        <label for="exampleFormControlFile1">Profile image</label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block">
                Sign up
              </button>
                    </div>

                    <div class="form-group">
                        <a href="./"><i class="glyphicon glyphicon-arrow-left"></i> Back</a
              >
            </div>
          </form>
        </div>
      </div>

      <footer>
        <div class="row pad">
          <div class="col-lg-12 text-center">
            Copyright &copy; 2020 <strong> <a href="./">___!</a></strong>
                    </div>
            </div>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>

        <!-- Bootstrap JavaScript -->
        <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
</body>

</html>